* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: #0099ff;
}
.container {
    opacity: 0.75;
}
h1 {
    color:darkblue;
}
h2 {
    color:red;
}
h3 {
    color: green;
}
h4 {
    color:palevioletred;
}
p, li {
    font-size: medium;
}
img {
    width: 500px;
    height:auto;
}
h1, h2, h3, h4, a {
    text-align: center;
}
nav {
    display: block;
}
a:link {
    color:black;
}
a:visited {
    color:green;
}
a:hover {
    color: red;
}
a:active {
    color:yellow;
}